@font-face {
  font-family: 'work sans';
  src: url(/assets/fonts/WorkSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'work sans';
  src: url(/assets/fonts/WorkSans-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'work sans';
  src: url(/assets/fonts/WorkSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'work sans';
  src: url(/assets/fonts/WorkSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'work sans';
  src: url(/assets/fonts/WorkSans-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'space-mono';
  src: url(/assets/fonts/SpaceMono-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'space-mono';
  src: url(/assets/fonts/SpaceMono-Regular.ttf);
  font-weight: 400;
}

