@font-face {
    font-family: work sans;
    src: url(/assets/fonts/WorkSans-Bold.ttf);
    src: url(/assets/fonts/WorkSans-ExtraBold.ttf);
}
footer h2{
    font-family: space-mono;
}
footer input{
    font-family: 'work sans';
    font-weight: 600;
}
footer ul a{
    font-family: 'work sans';
}
nav input[type="checkbox"]:checked ~ div ul{
    right: 0;
    color: #97979785;
}

