@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: work sans;
    src: url(/assets/fonts/WorkSans-Bold.ttf);
    src: url(/assets/fonts/WorkSans-ExtraBold.ttf);
}
@font-face {
    font-family: space-mono;
    src: url(/assets/fonts/SpaceMono-Bold.ttf);
}
nav a{
    font-family: 'work sans';
}
nav input[type="checkbox"]:checked ~ div ul{
    right: 0;
    color: #97979785;
}

